body{
    background-image: url(pp1.jpg);
    background-repeat: none;
    background-size: cover;
}
h1{
    background-color: rgb(209, 210, 211);
}
table{
    background-color: rgb(103, 105, 106);
    height: 200px;
    width: 200px;
}
button{
    background-color:rgb(255, 255, 255);
    height: 40px;
    width: 40px;
}
input{
    height:30px;
    width:300px;
}
